<!--==============================aside=================================-->
<aside style="padding-top: 50px;">
    <div class="wrap row" >
        <div class="col-sm-3 border-right-2 ">
            <h3><span class="clr-1">N</span>ewsletter:</h3>
            <form id="form-search" method="post" action="#">
                <span>Enter you email here:</span>
                <input type="text" value="" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''">
                <a href="#" class="link-2">subscribe</a>
            </form>
        </div>
        <div class="col-sm-3 border-right-2">
            <h3><span class="clr-1">U</span>seful info:</h3>
            <p>On the event of  misplaced  booklet please contact our customer care,any member who is due to receive his or her contrbution every month or in a year must be the person in photo registered and signature <a href="#" class="read-more-show" title="Read more"> ...</a><span class="read-more-content hide">to our operator, on no account will payment be made to an unknown member, you must also be careful with your five digit account code which we will be giving to you by our operator as your secret pin code. our registration form is available only in our office, you can visit our website for your total account balance with your 5 digit code.<a href="#" class="read-more-hide" title="Hide"> ...</a></span>  </p>  </div>
        <div class="col-sm-3 border-right-2">
            <div class="adrss">
                <div class="row">
                    <div class="col-sm-12"><span>Telephone:</span></div>
                    <div class="col-sm-12"><strong> +212 602 03 09 72</strong></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><span><span>E-mail:</span></span></div>
                    <div class="col-sm-12"><strong><a href="#" class="link"><strong> lldcontribution@gmail.com</strong></a></strong></div>
                </div>
            </div>
            <br><br>
            <p><strong>Casablanca, Morocco</strong></p>
        </div>
        <div class="col-sm-3">
            <div class="soc-icons"> <a href="#"><img src="{{ asset('bundles/main/images/icon-1.png') }}" alt=""></a><a href="https://www.facebook.com/later.laugh.5"><img src="{{ asset('bundles/main/images/icon-2.png') }}" alt=""></a><a href="#"><img src="{{ asset('bundles/main/images/icon-3.png') }}" alt=""></a> </div>
        </div>
    </div>
</aside>




