<!--==============================aside=================================-->
<aside>
    <div class="wrap row" >
        <div class="col-sm-3 border-right-2 ">
            <h3><span class="clr-1">N</span>ewsletter:</h3>
            <form id="form-search" method="post" action="#">
                <span>Enter you email here:</span>
                <input type="text" value="" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''">
                <a href="#" class="link-2">subscribe</a>
            </form>
        </div>
        <div class="col-sm-3 border-right-2">
            <h3><span class="clr-1">U</span>seful info:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur. adipiscing elit. Vivamus sed arcu dui, eu tincidunt sem viamus hendrerit. </p>
        </div>
        <div class="col-sm-3 border-right-2">
            <div class="adrss">
                <div class="row">
                    <div class="col-sm-12"><span>Telephone:</span></div>
                    <div class="col-sm-12"><strong> +212 602 03 09 72</strong></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><span><span>E-mail:</span></span></div>
                    <div class="col-sm-12"><strong><a href="#" class="link"><strong> lldcontribution@gmail.com</strong></a></strong></div>
                </div>
            </div>
            <br><br>
            <p><strong>Casablanca, Morocco</strong></p>
        </div>
        <div class="col-sm-3">
            <div class="soc-icons"> <a href="#"><img src="{{ asset('bundles/main/images/icon-1.png') }}" alt=""></a><a href="https://www.facebook.com/later.laugh.5"><img src="{{ asset('bundles/main/images/icon-2.png') }}" alt=""></a><a href="#"><img src="{{ asset('bundles/main/images/icon-3.png') }}" alt=""></a> </div>
        </div>
    </div>
</aside>




