<div class="row sections-background-images" style="">
    <p>
        <img src="{{ asset('images/yplushy_pregnancy2.jpg') }}" width="102%">
    </p>
    <p>
        <img src="{{ asset('images/yplushy_newborn2.jpg') }}" width="102%">
    </p>
    <p>
        <img src="{{ asset('images/yplushy_pregnancy.jpg') }}" width="102%">
    </p>


    <p>
        {% include('MainBundle:Common:footer.html.twig') %}
    </p>
</div>