{% extends "::Layout/layout.html.twig" %}
{% block title %}About - {{ parent() }}{% endblock %}
{% block body %}

    <div class="bg">
        <div class="bg-2">
            {% include('MainBundle:Common:header2.html.twig') with { active : 'about'} %}

            <!--============================== content ================================-->
            <section id="content">
                <div class="slogan top-1">
                    <p>We <span class="clr-1">provide</span> you with the <span class="clr-1">highest</span> level of
                        <span class="clr-1">services</span></p>
                    <a href="#" class="button-2">click here</a></div>
                <div>
                    <div class="wrap page2-row1">
                        <div class="page2-col-1 border-bottom">
                            <h2><span class="clr-1">W</span>hy us?</h2>

                            <p>We so much believe in your dreams of becoming great and successful in life. Our job is to
                                help you grow the little money in your hands to a very big money every month, which you
                                can start contributing today. where do you find it difficult to<a href="#"
                                                                                                  class="read-more-show"
                                                                                                  title="Read more">
                                    ...</a><span class="read-more-content hide"> save as little as 20 dirhams everyday, that will help you to start up a better business of your own.Are you  a street seller, do you manage a small business or are you working for someone. are you a mendicant who have the motive to start up a business? Come, L.L.D Contribution will impact you on how to grow in savings.<a
                                            href="#" class="read-more-hide" title="Hide"> ...</a></span></p></div>
                        <div class="page2-col-2 border-bottom">
                            <h2><span class="clr-1">W</span>ho we are?</h2>
                            <div class="wrap"><img src="{{ asset('bundles/main/images/page2-img1.jpg') }}" alt=""
                                                   class="img-indent-2 img-border">
                                <p class=" extra-wrap">
                                    <strong class="clr-2">We are excited to bring you the newest easy</strong> <br>
                            </div>
                            <p>
                                way to make saves every day with Later Laugh Daily Contribution (L.L.D) here in
                                Casablanca Morocco, north of Africa.
                                <strong>Our aim and objective is to offer you the necessity to impact your
                                    lives.</strong><br>

                                You can start building with nothing which is a vehicle that will enable you from the
                                little you have to the higher expectations of your dreams. We also service the intention
                                of your needs to your daily contribution. we are delighted to have you ..
                            </p>
                            <a href="#" class="link-2">Read more</a></div>
                        <div class="page2-col-3">
                            <h2><span class="clr-1">T</span>estimonials</h2>
                            <div class="box-3">
                                <div class="comment">
                                    <p><img src="{{ asset('bundles/main/images/comment-top.png') }}" alt="">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Vivamus sed arcu dui, eu tincidunt
                                        sem vivamus.<img src="images/comment-bottom.png" alt=""></p>
                                    <span><strong>Tina Smith</strong> (top manager)</span></div>
                            </div>
                            <div class="box-3">
                                <div class="comment">
                                    <p><img src="{{ asset('bundles/main/images/comment-top.png') }}" alt="">Vivamus sed
                                        arcu dui, eu tincidunt sem vivamus. hendrerit mauris ut dui gravida ut viverra
                                        lectus tincidunt. Cras mattis tempor eros.<img src="images/comment-bottom.png"
                                                                                       alt=""></p>
                                    <span><strong>John Green</strong> (director)</span></div>
                            </div>
                            <a href="#" class="link-2">Read more</a></div>
                    </div>
                </div>

            </section>
        </div>

    </div>

    {% include('MainBundle:Common:aside.html.twig') %}
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function openNav() {
            document.getElementById('mySideNav').style.width = "250px";
        }

        function closeNav() {
            document.getElementById('mySideNav').style.width = "0";
        }
    </script>

{% endblock %}