{% extends "::Layout/layout.html.twig" %}
{% block title %}Services - {{ parent() }}{% endblock %}
{% block body %}

    <div class="bg">
        <div class="bg-2">
            {% include('MainBundle:Common:header2.html.twig') with { active: 'services'} %}
            <!--============================== content ================================-->
            <section id="content">
                <div class="slogan top-1">
                    <p>We <span class="clr-1">provide</span> you with the <span class="clr-1">highest</span> level of <span class="clr-1">services</span></p>
                    <p></p>
                    <a href="#" class="button-2">click here</a> </div>
                <div class="page3-row1">
                    <h2 style="font-weight: 900;"><span class="clr-1">S</span>ervices overview</h2>
                    <div class="page3-col-1 border-right">
                        <div class="box-4"> <strong class="number2">01.</strong>
                            <div class="extra-wrap"> <span class="text-4">Strategic planning</span>
                                <p><strong class="clr-2">Building with nothing can end up in laughter.</strong> This is a vehicle that will carry you along with our strategic planning in your daily contribution,we encourage you today to partner with us. we encourage you to start building up your days of laughter with this platform. </p>

                            </div>
                        </div>
                        
                    </div>
                    <div class="page3-col-1 border-right">
                        <div class="box-4"> <strong class="number2">02.</strong>
                            <div class="extra-wrap"> <span class="text-4">Clients relationships</span>
                                <p><strong class="clr-2">Later Laugh Daily Contribution is unlimited to maintain your benediction of target.</strong> Please  present your booklet to our management in every occasion for identification of your daily contribution, you can inform us if there is any need of emergency during the times of your contribution for immediate payment in negotiations with our management, why' because we are not confine to your contribution, it is your benefits when you complete your days of contribution before demanding for payment which is the important of savings. </p>

                            </div>
                        </div>
                        
                    </div>
                    <div class="page3-col-1 last">
                        <div class="box-4"> <strong class="number2">03.</strong>
                            <div class="extra-wrap"> <span class="text-4">Insurance services</span>
                                <p><strong class="clr-2">We guarantee you a very well secured activities with us.</strong> Insurance on your daily contribution is our utmost concern to help in establishing your desired business and living in abundant with your secured contributions with us, opportunities to travel to your desired destinations, partner with us and know that you are insured and covered. </p>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>

    </div>

    {% include('MainBundle:Common:aside.html.twig') %}
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function openNav() {
            document.getElementById('mySideNav').style.width = "250px";
        }

        function closeNav() {
            document.getElementById('mySideNav').style.width = "0";
        }
    </script>

{% endblock %}