{% extends "::Layout/layout.html.twig" %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with {'active':'event'} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

    <main>

        <section class="well well4" style="background-color: white;border:none;">

            <div class="container center991">
                <h2 class="txt-pr">
                    <span style="color:#21c2f8;font-weight:200;">
                        Quelques
                    </span>
                    vidéos
                </h2>
                <div class="row offs3">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="360" height="360" src="https://www.youtube.com/embed/93YnFMoHkjw" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    Le Pacte technologique
                                </h6>
                                <div class="wrap">
                                    <p>
                                        Présentation du Pacte technologique par Roland Chrisbel
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="760" height="360" src="https://www.youtube.com/embed/ymZY5WfqU14" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    Le Congo en orbite
                                </h6>
                                <div class="wrap">
                                    <p class="thumb_ins1">
                                        La Fondation O'dellya met le Congo en orbite
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="360" height="360" src="https://www.youtube.com/embed/gwiPXKOhA58" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    Le Journal sur Télé Congo
                                </h6>
                                <div class="wrap">
                                    <p>
                                        Présentation du Pacte technologique de la Fondation O'dellya
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="360" height="360" src="https://www.youtube.com/embed/kaTnS2nD-iA" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    La Fondation O'dellya
                                </h6>
                                <div class="wrap">
                                    <p>
                                        Lancement de la Fondation O'dellya
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="360" height="360" src="https://www.youtube.com/embed/A0eWYakP15E" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    L'élection présidentielle de mars 2016
                                </h6>
                                <div class="wrap">
                                    <p>
                                        Le Pacte technologique Présenté aux délégués des candidats à l'élection présidentielle Congo 2016
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="360" height="360" src="https://www.youtube.com/embed/nOv6tOvNOAA" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    Le Pacte technologique
                                </h6>
                                <div class="wrap">
                                    <p>
                                        Présentation du pacte technologique dans l'émission "L'Economie en marche".
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="thumbnail thumb-shadow">
                            <iframe width="760" height="360" src="https://www.youtube.com/embed/ytKXKIm9nLU" frameborder="0" allowfullscreen></iframe>
                            <div class="caption bg3 capt_hover1">
                                <h6>
                                    La Fondation O'dellya
                                </h6>
                                <div class="wrap">
                                    <p class="thumb_ins1">
                                        Présentation de la Fondation O'dellya sur Africa 24
                                    </p>
                                    <a href="#" class="btn-link fa-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="well well2 bg1" style="border: none;">
            <div class="container">
                <h2 class="txt-pr">
                    <span style="color:#21c2f8;font-weight:200;">
                        Autres
                    </span>
                    Evènements
                </h2>
                <div class="row offs1">
                    <div class="col-md-6 col-sm-12">
                        <p>
                            <iframe src="/gallery/gallerie_brunch_dominical.html" frameborder="0" width="100%" height="800" scrolling="no" ></iframe>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>
                            Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            <a href="#" class="btn-link l-h1 fa-angle-right"></a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/main/js/jquery-migrate-1.2.1.min.js') }}"></script>

    <script src="{{ asset('bundles/main/js/device.min.js') }}"></script>




{% endblock %}




